/* Container */
.container {
}

/* AppBar .appBar*/
.navbar__container {
  border-radius: 15px;
  /* margin: 30px 0px; */
  margin: 30px auto 30px auto;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 3px 8px rgb(100, 100, 100);
  background-color: white;
}

/* Typography  .heading*/
.app__title {
  color: rgba(0, 183, 255, 1);
}

.app__image {
  margin-left: 15px;
  height: 60px;
}

.form-posts__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  width: 60vw;
}

.container__grid-form {
}

@media only screen and (max-width: 1100px) {
  .form-posts__container {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .container__grid-form {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 15rem;
    /* height: 100vh; */
  }
}
