.posts__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.posts__mainContainer {
  display: flex;
  align-items: center;
}
.posts__smMargin {
  margin: 0;
}
.posts__actionDiv {
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {
  .posts__grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .posts__mainContainer {
  }
  .posts__smMargin {
  }
  .posts__actionDiv {
  }
}
